body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  resize: none;
  color: #000000;
  padding-left: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.row {
  height: 60px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: hidden;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e9bfbe;
  color: black;
}

.present {
  background-color: #7d7474;
  color: white;
}

.future {
  background-color: #d1efe4;
  color: black;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #bbbbbb;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.list-group-item {
  padding: 0;
}

.text {
  padding: 0 10px 0 10px;
}
